.gcz-logo {
    height: 80px;              /* saubere Admin-Größe */
    width: auto;
    object-fit: contain;       /* verhindert Verzerrung */
    background-color: white;   /* wichtig wegen Transparenz */
    padding: 4px;
    border-radius: 8px;        /* leicht modern */
    box-shadow: 0 2px 6px rgba(0,0,0,0.15); /* subtiler Schatten */
    transition: all 0.2s ease;
}

.gcz-logo:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* =========================
   FILTER BAR FIX
========================= */
#changelist-search, #change-list-actions  {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

/* Jede Filter-Box */
#changelist-search .form-group {
    flex: 0 0 200px;
    margin-bottom: 0;
}

/* SELECT2 Container (das sichtbare Dropdown) */
#changelist-search .select2-container {
    width: 100% !important;
}

/* Select2 Auswahlfeld */
#changelist-search .select2-selection {
    height: 40px !important;
    display: flex;
    align-items: center;
    border-radius: 8px;
}


/* Text im Select */
#changelist-search .select2-selection__rendered {
    line-height: 40px !important;
}

/* Search Input */
#changelist-search input[type="text"] {
    flex: 0 0 300px;
    height: 40px;
    border-radius: 8px;
}

/* Arrow of Dropdown */
#changelist-search .select2-selection__arrow {
 top: unset;
}

/* Select2 (falls dort verwendet wird) */
#change-list-actions .select2-container {
    width: 200px !important;
    height: 40px !important;
}

/* Button */
#changelist-search button {
    height: 40px;
    border-radius: 8px;
    padding: 0 16px;
}